@model coreBookStore.Models.Publication
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<br />
<br />



<div class="card text-center mb-3" style="max-width: 540px;">
    <div class="card-header">
        Publication Details
    </div>
    <div class="card-body">
        <h5 class="card-title">Publication Name : @Html.DisplayFor(model => model.PublicationName)</h5>
       
        <p class="card-text">Publication Description : @Html.DisplayFor(model => model.PublicationDescription)</p>

    </div>
    <a asp-action="Index" asp-controller="Publication" class="btn btn-primary">Back To List</a>
</div>