@model coreBookStore.Models.Book
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<br />
<br />


<div class="card text-center mb-3" style="max-width: 540px;">
    <div class="card-header">
        Book Details
    </div>
    <div class="card-body">
        <h5 class="card-title">Book Name : @Html.DisplayFor(model => model.BookName)</h5>
        <p class="card-text">Book Price : @Html.DisplayFor(model => model.BookPrice)</p>
        <p class="card-text">Book Type : @Html.DisplayFor(model => model.BookType)</p>
        <p class="card-text">Book Description : @Html.DisplayFor(model => model.BookDescription)</p>
      
    </div>
    <a asp-action="Index" asp-controller="Book" class="btn btn-primary">Back To List</a>
</div>
