
@{
    Layout = null;
}

<!DOCTYPE HTML>

<html>
<head>
    <title>About Us Page</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <link rel="stylesheet" href="~/assets/css/main.css" />
</head>
<body class="is-preload">

    <!-- Header -->
    <header id="header">
        <a class="logo" href="index.html">KASH Online Book Store</a>
        <nav>
            <a asp-controller="Home" asp-action="Index">Home</a>
        </nav>
    </header>


    <!-- Banner -->
    <section id="banner">
        <div class="inner">
            <h1>
                <b>  <span style="color:gold"> KASH</span> </b><br />
                <span>Online Book Store</span>
            </h1>
            <p>

            </p>
        </div>
        <video autoplay loop muted playsinline src="~/images/books.mp4"></video>
    </section>

    <!-- Highlights -->
    <section class="wrapper">
        <div class="inner">
            <header class="special">
                <h2>Our Vision</h2>
                <p>Our vision is to create India's most reliable and frictionless e-commerce ecosystem that creates life-changing experiences for buyers and sellers. </p>
            </header>
            <div class="highlights">
                <section>
                    <div class="content">
                        <header>
                            <a href="#" class="icon  fa-lock"><span class="label">Icon</span></a>
                            <h3>100% secure Payments</h3>
                        </header>
                        <p>Moving your card details to a much more secured place.</p>
                    </div>
                </section>
                <section>
                    <div class="content">
                        <header>
                            <a href="#" class="icon fa-shield"><span class="label">Icon</span></a>
                            <h3>Trust Pay</h3>
                        </header>
                        <p>100% payment protection.</p>
                    </div>
                </section>
                <section>
                    <div class="content">
                        <header>
                            <a href="#" class="icon fa-comments "><span class="label">Icon</span></a>
                            <h3>24/7 Help</h3>
                        </header>
                        <p>Got any questions? Contact us anytime.</p>
                    </div>
                </section>
                <section>
                    <div class="content">
                        <header>
                            <a href="#" class="icon fa-money "><span class="label">Icon</span></a>
                            <h3>Money Saver</h3>
                        </header>
                        <p>Get the books in cheaper prices tan markets.</p>
                    </div>
                </section>
                <section>
                    <div class="content">
                        <header>
                            <a href="#" class="icon fa-truck "><span class="label">Icon</span></a>
                            <h3>Fast Delivery</h3>
                        </header>
                        <p>Assured delivery within 10 days.</p>
                    </div>
                </section>
                <section>
                    <div class="content">
                        <header>
                            <a href="#" class="icon fa-mobile"><span class="label">Icon</span></a>
                            <h3>Shop on the go</h3>
                        </header>
                        <p>Mobile friendly website. Use anytime and anywhere.</p>
                    </div>
                </section>
            </div>
        </div>
    </section>

    <!-- CTA -->
    <section id="cta" class="wrapper">
        <div class="inner" style="color:black">
            <h2>About Us</h2>
            <p>
                Kash Book Store is an online website which we made during our traing at NIIT-Technologies in 2019.
                We tried to create a user-friendly website with easy Graphical User Interface.
            </p>
        </div>
    </section>

    <!-- Testimonials -->
    <section class="wrapper">
        <div class="inner">
            <header class="special">
                <h2>Our Team</h2>

            </header>
            <div class="testimonials">
                <section>
                    <div class="content">
                        <blockquote>
                            <p>Nunc lacinia ante nunc ac lobortis ipsum. Interdum adipiscing gravida odio porttitor sem non mi integer non faucibus.</p>
                        </blockquote>
                        <div class="author">

                            <p class="credit">- <strong>Ameena Bano</strong></p>
                        </div>
                    </div>
                </section>
                <section>
                    <div class="content">
                        <blockquote>
                            <p>Nunc lacinia ante nunc ac lobortis ipsum. Interdum adipiscing gravida odio porttitor sem non mi integer non faucibus.</p>
                        </blockquote>
                        <div class="author">

                            <p class="credit">- <strong>Harshita Sharma</strong> </p>
                        </div>
                    </div>
                </section>
                <section>
                    <div class="content">
                        <blockquote>
                            <p>Nunc lacinia ante nunc ac lobortis ipsum. Interdum adipiscing gravida odio porttitor sem non mi integer non faucibus.</p>
                        </blockquote>
                        <div class="author">

                            <p class="credit">- <strong>Kritika Yadav</strong></p>
                        </div>
                    </div>
                </section>
                <section>
                    <div class="content">
                        <blockquote>
                            <p>Nunc lacinia ante nunc ac lobortis ipsum. Interdum adipiscing gravida odio porttitor sem non mi integer non faucibus.</p>
                        </blockquote>
                        <div class="author">

                            <p class="credit">- <strong>Sakshi Choudhary</strong></p>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </section>

    <!-- Footer -->
    @*<footer id="footer">
            <div class="inner">
                <div class="content">
                    <section>
                        <h3>Accumsan montes viverra</h3>
                        <p>Nunc lacinia ante nunc ac lobortis. Interdum adipiscing gravida odio porttitor sem non mi integer non faucibus ornare mi ut ante amet placerat aliquet. Volutpat eu sed ante lacinia sapien lorem accumsan varius montes viverra nibh in adipiscing. Lorem ipsum dolor vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing sed feugiat eu faucibus. Integer ac sed amet praesent. Nunc lacinia ante nunc ac gravida.</p>
                    </section>
                    <section>
                        <h4>Sem turpis amet semper</h4>
                        <ul class="alt">
                            <li><a href="#">Dolor pulvinar sed etiam.</a></li>
                            <li><a href="#">Etiam vel lorem sed amet.</a></li>
                            <li><a href="#">Felis enim feugiat viverra.</a></li>
                            <li><a href="#">Dolor pulvinar magna etiam.</a></li>
                        </ul>
                    </section>
                    <section>
                        <h4>Magna sed ipsum</h4>
                        <ul class="plain">
                            <li><a href="#"><i class="icon fa-twitter">&nbsp;</i>Twitter</a></li>
                            <li><a href="#"><i class="icon fa-facebook">&nbsp;</i>Facebook</a></li>
                            <li><a href="#"><i class="icon fa-instagram">&nbsp;</i>Instagram</a></li>
                            <li><a href="#"><i class="icon fa-github">&nbsp;</i>Github</a></li>
                        </ul>
                    </section>
                </div>
                <div class="copyright">
                    &copy; Untitled. Photos <a href="https://unsplash.co">Unsplash</a>, Video <a href="https://coverr.co">Coverr</a>.
                </div>
            </div>
        </footer>*@

    <!-- Scripts -->
    <script src="~/assets/js/jquery.min.js"></script>
    <script src="~/assets/js/browser.min.js"></script>
    <script src="~/assets/js/breakpoints.min.js"></script>
    <script src="~/assets/js/util.js"></script>
    <script src="~/assets/js/main.js"></script>

</body>
</html>