
@model coreBookStore.Models.BookCategory
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<br />
<br />
<br />



<div class="card text-center mb-3" style="max-width: 540px;">
    <div class="card-header">
        Book Category Details
    </div>
    <div class="card-body">
        <h5 class="card-title">Book Category Name : @Html.DisplayFor(model => model.BookCategoryName)</h5>
        <p class="card-text">Book Category Description : @Html.DisplayFor(model => model.BookCategoryDescription)</p>

    </div>
    <a asp-action="Index" asp-controller="BookCategory" class="btn btn-primary">Back To List</a>
</div>


