@model coreBookStore.Models.Author
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<br />
<br />



<div class="card text-center mb-3" style="max-width: 540px;"> 
    <div class="card-header">
        Author Details
    </div>
    <div class="card-body">
        <h5 class="card-title">Author Name : @Html.DisplayFor(model => model.AuthorName)</h5>
        <p class="card-text">Author Description : @Html.DisplayFor(model => model.AuthorDescription)</p>
        
    </div>
    <a asp-action="Index" asp-controller="Author" class="btn btn-primary">Back To List</a>
</div>