@model OnlineBookStoreUser.Models.Books
@{
    ViewData["Title"] = "Books";
    Layout = "~/Views/Shared/_PartialLayout.cshtml";
}

<h2>Books</h2>


<div class="card mb-3" style="max-width: 540px;">
    <div class="row no-gutters">
        <div class="col-md-4">
            <img src="@Html.DisplayFor(model => model.BookImage)" class="card-img" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title"><b>@Html.DisplayFor(model => model.BookName)</b></h5>
             


               
                <a asp-controller="Home" asp-action="Index" class="btn btn-sm btn-outline-secondary">Back To Home</a>
            </div>
        </div>
    </div>
</div>
